<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <i><b><%= @category.name %></b></i>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.desc %>
</p>

<h4> Products under this category </h4>
<ul>
  <% Product.where(category_id: @category.id).each do |product| %>
    <li> <%= product.name %> </li>
  <% end %>
</ul>
<br/>
<%= link_to 'Edit', edit_category_path(@category),{:style=>'color:#FFFFFF;', :class => "btn btn-primary"} %>
<%= link_to 'Back to Category listing', categories_path, {:style=>'color:#FFFFFF;', :class => "btn btn-primary"} %>
<%= link_to 'Back to Product listing', products_path, {:style=>'color:#FFFFFF;', :class => "btn btn-primary"} %>
