<p id="notice"><%= notice %></p>

<p>
  <strong>Product Name:</strong>
  <i><b><%= @product.name %></b></i>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Category:</strong>
  <%= Category.find(@product.category_id).name %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
